@import "tailwindcss";
body{
    background-color: #212529;
}
.bg-light-dark{
    background-color: #2B3035;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}


.snake-border {
  position: relative;
  overflow: hidden;
}

.snake-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(
    90deg,
    transparent,
    #0dcaf0,
    transparent
  );
  animation: snake 2s linear infinite;

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}
@keyframes snake {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.google-search {
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.google-search .form-control {
  border: none;
  padding-left: 20px;
  height: 50px;
  font-size: 16px;
}

.google-search .form-control:focus {
  box-shadow: none;
}

.google-search .btn {
  border: none;
  padding: 0 25px;
  height: 50px;
  border-radius: 0;
}
